

#####################################################################
#   UUID Setting
#####################################################################

[mcu]
canbus_uuid: b63c3e5a2303
canbus_interface: can0
# serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_160035000451313433343333-if00

[mcu EBBCan]
canbus_uuid: 785082f45fb6
canbus_interface: can0

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

# [temperature_sensor EBB_NTC]
# sensor_type: Generic 3950
# sensor_pin: EBBCan: PA2

#####################################################################
#   X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 0
position_max: 295

##--------------------------------------------------------------------
homing_speed: 60   #Max 100
homing_retract_dist: 0
homing_positive_dir: false

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0
## Sensorless Homing
diag_pin: PF4
driver_SGTHRS: 60

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 295
position_max: 295

##--------------------------------------------------------------------
homing_speed: 60  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0
## Sensorless Homing
diag_pin: PF3
driver_SGTHRS: 60

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
rotation_distance: 8
microsteps: 16
endstop_pin: ^PF2
position_endstop: -0.05
position_max: 250
position_min: -5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: True
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear  on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 8  
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: True
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
rotation_distance: 8  
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: True
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Accelerometer
#####################################################################

# [adxl345]
# cs_pin: EBBCan: PB12
# spi_software_sclk_pin: EBBCan: PB10
# spi_software_mosi_pin: EBBCan: PB11
# spi_software_miso_pin: EBBCan: PB2
# axes_map: z,-y,x

# [resonance_tester]
# probe_points: 100, 100, 20
# accel_chip: adxl345

#####################################################################
#   Extruder
#####################################################################

#   E0 on Motor8
[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
rotation_distance: 22.21176470734
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75

heater_pin: EBBCan: PB13
sensor_type: MAX31865
sensor_pin: EBBCan: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

min_temp: 10
max_temp: 350
max_power: 1.0
min_extrude_temp: 170

control = pid
pid_kp = 31.019
pid_ki = 7.954
pid_kd = 30.243

pressure_advance: 0.040
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##  E0 on Motor7
[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
heater_pin: PA1 
## See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB1
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 39.507
pid_ki: 0.998
pid_kd: 391.115

#####################################################################
#   Probe
#####################################################################

[probe]
##  Inductive Probe
##  This probe is not used for Z height, only Quad Gantry Leveling
##  NPN and PNP proximity switch types can be set by jumper
pin: ^EBBCan: PC13
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#   Fan Control
#####################################################################

[fan]
pin: EBBCan: PA1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[heater_fan controller_fan]
##  Controller fan - CNC_FAN2
pin: PA4
kick_start_time: 0.5
heater: heater_bed
heater_temp: 60.0
fan_speed: 0.5

[heater_fan chamber_fan]
pin: PF8
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 60.0
fan_speed: 0.75

#[heater_fan exhaust_fan]
##  Exhaust fan - CNC_FAN3
#pin: PE5
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position:171.5,295
speed:100
z_hop:35

[z_tilt]
horizontal_move_z: 35
z_positions:
  -50, 18
  150, 348
  350, 18
points:
  30, 5
  150, 245
  270, 5
speed: 350
retries: 2
retry_tolerance: 0.01

#####################################################################
#   Bed Mesh
#####################################################################

[bed_mesh]
speed: 400
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 260,260
zero_reference_position: 150,150
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic

#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    Z_TILT_ADJUST
    G28
    # BED_MESH_PROFILE LOAD=default
    # BED_MESH_CALIBRATE 
    G0 X150 Y150 Z30 F12000
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G32                            ; home all axes
    G1 Z20 F3000                   ; move nozzle away from bed
    STATUS_PRINTING
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    M18
    STATUS_OFF

#####################################################################
#   Knomi
#####################################################################

[gcode_macro _KNOMI_STATUS]
variable_homing: False
variable_probing: False
variable_qgling: False
variable_heating_nozzle: False
variable_heating_bed: False
gcode:

[gcode_macro M109]
rename_existing: M109.1
gcode:
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_nozzle VALUE=True
  STATUS_HEATING
  M109.1 {rawparams}
  STATUS_READY
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_nozzle VALUE=False

[gcode_macro M190]
rename_existing: M190.1
gcode:
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_bed VALUE=True
  STATUS_HEATING
  M190.1 {rawparams}
  STATUS_READY
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=heating_bed VALUE=False

[gcode_macro G28]
rename_existing: G28.1
gcode:
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True
  STATUS_HOMING
  G28.1 {rawparams}
  STATUS_READY
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=True
  STATUS_CALIBRATING_Z
  BTT_BED_MESH_CALIBRATE
  STATUS_READY
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=probing VALUE=False

[gcode_macro Z_TILT_ADJUST]
rename_existing: BTT_Z_TILT_ADJUST
gcode:
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=True
  STATUS_LEVELING
  BTT_Z_TILT_ADJUST
  STATUS_READY
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=False
